.container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

#main {
    background-color: black;
}
#titlePage {
    color: white;
    text-align: center;
    font-family: 'tahoma';
}